.table-fixed tbody {
    height: 400px;
    overflow-y: auto;
    width:100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}
.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

}

#examlist tbody {
    height: 200px !important;
    overflow-y: auto;
    width: 100%;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}